
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/**
.DS_Store
tmp/
.air.conf
dbstore
nfsshared/baas-artifacts/
nfsshared/baas-fabric-data/
nfsshared/baas-k8s-config/
.vscode/
channel-artifacts/